@{
    ViewBag.Title = "Unauthorized";
}

<div class="row-fluid">
    <div class="span12" style="text-align:center">
        <img src="http://olliesblog.com/wp-content/uploads/2012/07/lock-icon.png" />
        <h3>Sorry, you do not have access to this page.</h3>
        <p><a href="javascript:history.go(-1)" class="btn btn-primary">Take me back where I belong</a></p>
    </div>
</div>
